<form class="searchbox_1" action="">
<input type="search" class="search_1" placeholder="Try Luke Skywalker" />
<button type="submit" class="submit_1" value="search">search</button>
</form>


<div class="results">
  <%= render 'search' %>
</div>
