
<div class="fullpage">

<form class="searchbox_1" action="">
<input type="search" class="search_1" placeholder="Try Luke Skywalker" />
<button type="submit" class="submit_1" value="search">search</button>
</form>

<div id="results">
  <% if @results %>
  <% @results.each do |result| %>
    <%= link_to result.name %>
  <% end %>
  <% end %>
</div>
</div>
</div>
