
<br>


<button style="margin-left: 10px; margin-bottom: 10px;" class="topbuttons cyan lighten-2 btn" id="runcode">RUN</button>
<div class="language">

</div>


<div class="status">Connecting...</div>
<br>
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Language</a>
 <!-- Dropdown Structure -->
 <ul id='dropdown1' class='dropdown-content'>
   <li id="ruby"><a href="#!">Ruby</a></li>
   <li id="java"><a href="#!">Java</a></li>
 </ul>
<br>
<br>
<pre class="out"></pre>
