
.searchbox_1{
  margin: 100px auto;
  width: 50%;
  height: auto;
}
a:visited{
  color: yellow;
}
a:hover{
  color: white;
}
.search_1{
  color: yellow;
}
.title{
  color: yellow;
  text-align: center;
}
#results{
  margin-top: -50px;
  text-align: center;
}
.li_result{
  color: yellow;
}
